<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Contact Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
        <div>
            <a  mat-mini-fab color="primary">
                <mat-icon  [inline]="true" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
            </a>
            <label for="">Tunis </label>
        </div>
        <mat-divider></mat-divider>
        <div>
            <a  mat-mini-fab color="primary">
                <mat-icon [inline]="true"  aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
            </a>
            <label for="">bilel.fekiditkaaniche@etudiant-fst.utm.tn </label>
        </div>
        <mat-divider></mat-divider>
        <div>
            <a  mat-mini-fab color="primary">
                <mat-icon [inline]="true"  aria-hidden="false" aria-label="Example home icon">call</mat-icon>
            </a>
            <label for="">+216 21033247 </label>
        </div>
        <mat-divider></mat-divider>
        <div>
            <a  mat-mini-fab color="primary" href="https://github.com/bilelfeki">
                <mat-icon [inline]="true"  aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>
            <label for="">github</label>
        </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>