<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Contact Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
        
        <div *ngFor="let item of ListContact ;let i=index">
            <div  style="height:25px; width:100% ; "></div>
            <a style=" background-color: #002864;
                        margin-left:10px;" mat-mini-fab >
                        
                <mat-icon  [inline]="true" aria-hidden="false" aria-label="Example home icon">{{iconArray[i]}}</mat-icon>
            </a>
            <label for=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label for="">{{item}} </label>
            <div *ngIf="i < ListContact.length-1">
                <div style="height:18px; width:100%"></div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-card-content>

  </mat-card>