/* .example-card{
    // background-image: url(../../../assets/tel.jfif);
    
   
    
} */
.cardContent{
    width: fit-content;
    font-size: large;
}
label{
    color:rgb(33, 65, 171);
}
.cardContent div:hover{
    font-size: larger;
}
mat-icon{
    size: 20px;
}