.level1{
    display: flex;
    flex-direction: row;
}
.level2{
text-align: center;

}
.level3 div {
    display: inline;
}
.experience:hover{
    box-shadow : 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}