 .example-card{
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
} 

.cardContent{
    width: fit-content;
    font-size: large;
    
}

.cardContent div:hover{
    font-size: larger;
    color:rgb(33, 65, 171);
}