:host {
    display: block;
    margin: 48px 56px;
  
    form, fieldset {
      margin: 0 auto;
      padding: 0;
      & > * {
        display: block;
      }
      .button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button:first-child {
          margin-top: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
  form{
    border-radius: 10px;
    background-color: white;
    width: 30%;
    height: 30%;
    border-color: black;
    border-style: solid;
    border-width: 10px;

  }
  
  .image{
    width: 150px;
  }

#selectImage{
    color:rgb(71, 104, 212) ;
    width: max-content;
    height: min-content;
    display: block;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#submit{
  background-color:#002864 ;
}